<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @school.image_url %>
</p>

<p>
  <b>County:</b>
  <%= @school.county_id %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
